<div>
  <ul>
 <li><strong><%= @tutors.id %></strong></li>
 <li><strong><%= @tutors.email %></strong></li>
 <li><strong><%= @tutors.name %></strong></li>
 <li><strong><%= @tutors.description %></strong></li>
</ul>
</div>
