<div class="container">	
	<div class="page-header">
	  <%= link_to subjects_path, class: 'btn btn-default' do %>
	    <span class="glyphicon glyphicon-list-alt"></span>
	    Back
	  <% end %>
	  <h1>New subject</h1>
	</div>
<div>
<%= render 'form' %>
