<h1>Gracias por sus comentarios, <%=@name %></h1>
<h4>
  Los comentarios de nuestros usuarios son muy valiosos, para prestar nuestro servicio cada vez mejor 
</h4>
<h4>
  Su correo
</h4>
<h5>
  <%= @email %>
</h5>
<h4>Sus comentarios</h4>
<h5><%= @comments %></h5>