<div class="container">	
	<div class="page-header">
	  <%= link_to archivos_path, class: 'btn btn-default' do %>
	    <span class="glyphicon glyphicon-list-alt"></span>
	    Back
	  <% end %>
	  <h1>New Archivo</h1>
	</div>
</div>


<%= render 'form', archivo: @archivo %>


